In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
import matplotlib.pyplot as plt

In [2]:
import sys
import os

# Get the directory of the current notebook
current_dir = os.path.dirname(os.path.abspath('../scripts')) 

# Add the 'scripts' directory to the Python path
scripts_dir = os.path.join(current_dir, 'scripts')
sys.path.append(scripts_dir)

In [3]:
from EDA import download_stock_data

In [4]:
tm_medium_data = download_stock_data("BABA", "2y", "1h")

[*********************100%***********************]  1 of 1 completed

In [5]:
tm_medium_data.head()

Price,Close,High,Low,Open,Volume
Ticker,BABA,BABA,BABA,BABA,BABA
Datetime,,,,,
2023-01-09 14:30:00+00:00,109.805000,113.110001,108.120003,111.989998,18150684
2023-01-09 15:30:00+00:00,111.599998,112.428596,109.264999,109.834999,7193965
2023-01-09 16:30:00+00:00,111.209396,112.019997,110.750000,111.600098,3988798
2023-01-09 17:30:00+00:00,111.595001,112.000000,111.000000,111.220001,2479306
2023-01-09 18:30:00+00:00,111.801102,111.945000,110.900002,111.599998,2708732

In [7]:
tm_medium_data.shape

(3501, 5)

In [8]:
tm_medium_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3501 entries, 2023-01-09 14:30:00+00:00 to 2025-01-08 20:30:00+00:00
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   (Close, BABA)   3501 non-null   float64
 1   (High, BABA)    3501 non-null   float64
 2   (Low, BABA)     3501 non-null   float64
 3   (Open, BABA)    3501 non-null   float64
 4   (Volume, BABA)  3501 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 164.1 KB

In [9]:
tm_medium_data.describe()

Price         Close         High          Low         Open        Volume
Ticker         BABA         BABA         BABA         BABA          BABA
count   3501.000000  3501.000000  3501.000000  3501.000000  3.501000e+03
mean      85.552095    85.876243    85.224237    85.547535  2.432578e+06
std       11.113852    11.215333    11.016179    11.121724  2.553411e+06
min       67.330002    67.599998    66.629997    67.199997  3.934620e+05
25%       76.629997    76.894997    76.324997    76.574997  1.120858e+06
50%       84.099998    84.364998    83.820000    84.095001  1.659052e+06
75%       90.589996    91.010002    90.279999    90.660004  2.743726e+06
max      120.589996   121.300003   120.459999   121.000000  4.634470e+07