In [9]:
import pandas as pd
import numpy as np
import yfinance as yf
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
import sys
import os

# Get the directory of the current notebook
current_dir = os.path.dirname(os.path.abspath('../scripts')) 

# Add the 'scripts' directory to the Python path
scripts_dir = os.path.join(current_dir, 'scripts')
sys.path.append(scripts_dir)

In [4]:
from utils import download_stock_data

In [5]:
baba_long_data = download_stock_data("BABA", "max", "1d")

[*********************100%***********************]  1 of 1 completed

In [6]:
baba_long_data.head()

Price           Close       High        Low       Open     Volume
Ticker           BABA       BABA       BABA       BABA       BABA
Date
2014-09-19  90.673950  96.284936  86.868906  89.524709  271879400
2014-09-22  86.810966  89.766149  86.434326  89.524712   66657800
2014-09-23  84.184128  87.380754  83.652972  85.893503   39009800
2014-09-24  87.467674  87.467674  84.232424  85.439608   32088000
2014-09-25  85.874184  88.365812  85.468572  87.969852   28598000

In [11]:
from utils import analyze_numericals

In [12]:
analyze_numericals(baba_long_data)

NameError: name 'np' is not defined

In [9]:
baba_long_data.shape

(2593, 5)

In [10]:
baba_long_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2593 entries, 2014-09-19 to 2025-01-08
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   (Close, BABA)   2593 non-null   float64
 1   (High, BABA)    2593 non-null   float64
 2   (Low, BABA)     2593 non-null   float64
 3   (Open, BABA)    2593 non-null   float64
 4   (Volume, BABA)  2593 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 121.5 KB

In [11]:
baba_long_data.describe()

Price         Close         High          Low         Open        Volume
Ticker         BABA         BABA         BABA         BABA          BABA
count   2593.000000  2593.000000  2593.000000  2593.000000  2.593000e+03
mean     131.090086   132.800686   129.356994   131.188917  1.891795e+07
std       56.890173    57.495112    56.206189    56.969504  1.285068e+07
min       55.424198    56.641038    55.240704    55.337277  3.775300e+06
25%       82.436134    83.459822    81.489691    82.397503  1.186070e+07
50%      106.077606   107.960815   104.551733   106.328702  1.598180e+07
75%      173.457748   175.649995   171.226871   173.544668  2.156870e+07
max      306.276886   308.382206   298.328791   302.761578  2.718794e+08