In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import sys
import os

# Get the directory of the current notebook
current_dir = os.path.dirname(os.path.abspath('../scripts')) 

# Add the 'scripts' directory to the Python path
scripts_dir = os.path.join(current_dir, 'scripts')
sys.path.append(scripts_dir)

In [3]:
from EDA import download_stock_data

In [4]:
baba_short_data = download_stock_data("BABA", "1mo", "2m")

[*********************100%***********************]  1 of 1 completed

In [5]:
baba_short_data.head()

Price                          Close       High        Low       Open   Volume
Ticker                          BABA       BABA       BABA       BABA     BABA
Datetime
2024-12-09 14:30:00+00:00  92.044998  92.699997  91.919998  92.010002  4022211
2024-12-09 14:32:00+00:00  92.264999  92.349998  91.830002  92.029999   966430
2024-12-09 14:34:00+00:00  92.039001  92.419998  91.900002  92.239998   805701
2024-12-09 14:36:00+00:00  92.047997  92.139999  91.930000  92.020103   410076
2024-12-09 14:38:00+00:00  92.339996  92.385002  91.980003  92.044998   510918

In [6]:
baba_short_data.shape

(3995, 5)

In [7]:
baba_short_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3995 entries, 2024-12-09 14:30:00+00:00 to 2025-01-08 20:58:00+00:00
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   (Close, BABA)   3995 non-null   float64
 1   (High, BABA)    3995 non-null   float64
 2   (Low, BABA)     3995 non-null   float64
 3   (Open, BABA)    3995 non-null   float64
 4   (Volume, BABA)  3995 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 187.3 KB

In [8]:
baba_short_data.describe()

Price         Close         High          Low         Open        Volume
Ticker         BABA         BABA         BABA         BABA          BABA
count   3995.000000  3995.000000  3995.000000  3995.000000  3.995000e+03
mean      86.177991    86.220213    86.134647    86.176978  5.740689e+04
std        2.452488     2.458845     2.444679     2.452904  1.105604e+05
min       82.070000    82.154999    81.699997    82.069901  3.197000e+03
25%       84.639999    84.684998    84.605003    84.642448  2.091000e+04
50%       85.419998    85.480003    85.370003    85.428497  3.306900e+04
75%       87.300949    87.339996    87.235001    87.309750  5.967250e+04
max       94.107002    94.120003    94.044502    94.107147  4.022211e+06

In [6]:
baba_short_data.isna().sum()

Price   Ticker
Close   BABA      0
High    BABA      0
Low     BABA      0
Open    BABA      0
Volume  BABA      0
dtype: int64

In [12]:
baba_short_data['Close', 'BABA']

Datetime
2024-12-09 14:30:00+00:00    92.044998
2024-12-09 14:32:00+00:00    92.264999
2024-12-09 14:34:00+00:00    92.039001
2024-12-09 14:36:00+00:00    92.047997
2024-12-09 14:38:00+00:00    92.339996
                               ...
2025-01-08 17:20:00+00:00    83.529999
2025-01-08 17:22:00+00:00    83.544998
2025-01-08 17:24:00+00:00    83.519997
2025-01-08 17:26:00+00:00    83.474998
2025-01-08 17:28:00+00:00    83.410004
Name: (Close, BABA), Length: 3890, dtype: float64