In [3]:
import pandas as pd
import numpy as np
import yfinance as yf
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
import sys
import os

# Get the directory of the current notebook
current_dir = os.path.dirname(os.path.abspath('../scripts')) 

# Add the 'scripts' directory to the Python path
scripts_dir = os.path.join(current_dir, 'scripts')
sys.path.append(scripts_dir)

In [5]:
from EDA import download_stock_data

In [6]:
nvda_long_data = download_stock_data("NVDA", "max", "1d")

[*********************100%***********************]  1 of 1 completed

In [7]:
nvda_long_data.head()

Price          Close      High       Low      Open      Volume
Ticker          NVDA      NVDA      NVDA      NVDA        NVDA
Date
1999-01-22  0.037615  0.044779  0.035585  0.040122  2714688000
1999-01-25  0.041556  0.042033  0.037615  0.040600   510480000
1999-01-26  0.038331  0.042869  0.037734  0.042033   343200000
1999-01-27  0.038212  0.039406  0.036301  0.038451   244368000
1999-01-28  0.038092  0.038451  0.037854  0.038212   227520000

In [9]:
nvda_long_data.shape

(6533, 5)

In [10]:
nvda_long_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6533 entries, 1999-01-22 to 2025-01-08
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   (Close, NVDA)   6533 non-null   float64
 1   (High, NVDA)    6533 non-null   float64
 2   (Low, NVDA)     6533 non-null   float64
 3   (Open, NVDA)    6533 non-null   float64
 4   (Volume, NVDA)  6533 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 306.2 KB

In [11]:
nvda_long_data.describe()

Price         Close         High          Low         Open        Volume
Ticker         NVDA         NVDA         NVDA         NVDA          NVDA
count   6533.000000  6533.000000  6533.000000  6533.000000  6.533000e+03
mean       8.298137     8.450841     8.133767     8.300337  6.003320e+08
std       22.703001    23.130934    22.255231    22.731424  4.309938e+08
min        0.031286     0.032600     0.030569     0.032003  1.968000e+07
25%        0.256766     0.263662     0.250135     0.256555  3.397560e+08
50%        0.436074     0.442448     0.428948     0.435816  5.015040e+08
75%        4.493206     4.545078     4.437395     4.489731  7.315680e+08
max      149.429993   153.130005   147.820007   153.029999  9.230856e+09