In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
import matplotlib.pyplot as plt

In [2]:
import sys
import os

# Get the directory of the current notebook
current_dir = os.path.dirname(os.path.abspath('../scripts')) 

# Add the 'scripts' directory to the Python path
scripts_dir = os.path.join(current_dir, 'scripts')
sys.path.append(scripts_dir)

In [3]:
from EDA import download_stock_data

In [4]:
nvda_medium_data = download_stock_data("NVDA", "2y", "1h")

[*********************100%***********************]  1 of 1 completed

In [5]:
nvda_medium_data.head()

Price,Close,High,Low,Open,Volume
Ticker,NVDA,NVDA,NVDA,NVDA,NVDA
Datetime,,,,,
2023-01-09 14:30:00+00:00,15.822001,15.895000,15.141001,15.283999,14513789
2023-01-09 15:30:00+00:00,15.986780,16.056000,15.796550,15.823000,7655083
2023-01-09 16:30:00+00:00,15.987000,16.011999,15.910001,15.986000,5133055
2023-01-09 17:30:00+00:00,16.021000,16.033720,15.937281,15.987000,3970512
2023-01-09 18:30:00+00:00,15.968280,16.021000,15.778999,16.021000,5876413

In [6]:
nvda_medium_data.shape

(3501, 5)

In [7]:
nvda_medium_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3501 entries, 2023-01-09 14:30:00+00:00 to 2025-01-08 20:30:00+00:00
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   (Close, NVDA)   3501 non-null   float64
 1   (High, NVDA)    3501 non-null   float64
 2   (Low, NVDA)     3501 non-null   float64
 3   (Open, NVDA)    3501 non-null   float64
 4   (Volume, NVDA)  3501 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 164.1 KB

In [8]:
nvda_medium_data.describe()

Price         Close         High          Low         Open        Volume
Ticker         NVDA         NVDA         NVDA         NVDA          NVDA
count   3501.000000  3501.000000  3501.000000  3501.000000  3.501000e+03
mean      73.358482    73.803468    72.868532    73.360808  1.495212e+07
std       41.289132    41.558406    40.999984    41.310534  1.953808e+07
min       15.636999    15.732210    15.141001    15.283999  0.000000e+00
25%       42.113800    42.292999    41.834999    42.096001  4.213906e+06
50%       52.859997    52.901001    52.079998    52.478996  6.691355e+06
75%      116.090660   116.720001   115.440002   116.089996  1.780182e+07
max      151.888794   153.130005   151.035004   153.048004  2.197171e+08