In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
import matplotlib.pyplot as plt

In [2]:
import sys
import os

# Get the directory of the current notebook
current_dir = os.path.dirname(os.path.abspath('../scripts')) 

# Add the 'scripts' directory to the Python path
scripts_dir = os.path.join(current_dir, 'scripts')
sys.path.append(scripts_dir)

In [3]:
from EDA import download_stock_data

In [4]:
tm_long_data = download_stock_data("TM", "max", "1d")

[*********************100%***********************]  1 of 1 completed

In [5]:
tm_long_data.head()

Price          Close      High       Low      Open Volume
Ticker            TM        TM        TM        TM     TM
Date
1980-03-17  2.296797  2.334143  2.296797  0.000000  41109
1980-03-18  2.306135  2.343481  2.306135  0.000000   9343
1980-03-19  2.306135  2.306135  2.306135  2.306135      0
1980-03-20  2.306135  2.343481  2.306135  0.000000  10277
1980-03-21  2.362154  2.399500  2.362154  0.000000   8409

In [6]:
tm_long_data.shape

(11298, 5)

In [8]:
tm_long_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 11298 entries, 1980-03-17 to 2025-01-08
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   (Close, TM)   11298 non-null  float64
 1   (High, TM)    11298 non-null  float64
 2   (Low, TM)     11298 non-null  float64
 3   (Open, TM)    11298 non-null  float64
 4   (Volume, TM)  11298 non-null  int64
dtypes: float64(4), int64(1)
memory usage: 529.6 KB

In [9]:
tm_long_data.describe()

Price          Close          High           Low          Open        Volume
Ticker            TM            TM            TM            TM            TM
count   11298.000000  11298.000000  11298.000000  11298.000000  1.129800e+04
mean       63.666785     64.034084     63.301607     60.808400  2.148655e+05
std        52.355995     52.621957     52.045363     55.282919  3.873993e+05
min         2.259451      2.259451      2.259451      0.000000  0.000000e+00
25%        19.224642     19.355423     19.224642      0.000000  1.350000e+04
50%        50.617449     51.031762     50.292166     50.728913  9.139050e+04
75%       104.819155    105.336487    104.201612    104.899049  2.926000e+05
max       254.770004    255.229996    253.589996    255.000000  1.858270e+07