In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import sys
import os

# Get the directory of the current notebook
current_dir = os.path.dirname(os.path.abspath('../scripts')) 

# Add the 'scripts' directory to the Python path
scripts_dir = os.path.join(current_dir, 'scripts')
sys.path.append(scripts_dir)

In [3]:
from EDA import download_stock_data

In [4]:
tm_medium_data = download_stock_data("TM", "2y", "1h")

[*********************100%***********************]  1 of 1 completed

In [5]:
tm_medium_data.head()

Price,Close,High,Low,Open,Volume
Ticker,TM,TM,TM,TM,TM
Datetime,,,,,
2023-01-09 14:30:00+00:00,140.320007,140.440002,139.240005,139.309998,41004
2023-01-09 15:30:00+00:00,141.348206,141.660004,140.320007,140.344604,58107
2023-01-09 16:30:00+00:00,141.119995,141.490005,140.964996,141.490005,30083
2023-01-09 17:30:00+00:00,141.028397,141.218994,140.750000,141.218994,16675
2023-01-09 18:30:00+00:00,140.705002,141.050003,140.435104,141.050003,14659

In [6]:
tm_medium_data.shape

(3501, 5)

In [7]:
tm_medium_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3501 entries, 2023-01-09 14:30:00+00:00 to 2025-01-08 20:30:00+00:00
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   (Close, TM)   3501 non-null   float64
 1   (High, TM)    3501 non-null   float64
 2   (Low, TM)     3501 non-null   float64
 3   (Open, TM)    3501 non-null   float64
 4   (Volume, TM)  3501 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 164.1 KB

In [8]:
tm_medium_data.describe()

Price         Close         High          Low         Open         Volume
Ticker           TM           TM           TM           TM             TM
count   3501.000000  3501.000000  3501.000000  3501.000000    3501.000000
mean     180.806925   181.138251   180.457024   180.805854   41763.123679
std       30.403731    30.452493    30.344683    30.401737   30012.032558
min      132.660004   133.035004   132.350006   132.750000    6099.000000
25%      161.770004   161.970001   161.361694   161.464996   23312.000000
50%      177.580002   177.990005   177.315002   177.630005   33680.000000
75%      197.419998   197.889999   197.080002   197.500000   49751.000000
max      255.220001   255.229996   254.622894   255.199997  434348.000000