In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import sys
import os

# Get the directory of the current notebook
current_dir = os.path.dirname(os.path.abspath('../scripts')) 

# Add the 'scripts' directory to the Python path
scripts_dir = os.path.join(current_dir, 'scripts')
sys.path.append(scripts_dir)

In [3]:
from EDA import download_stock_data

In [9]:
nvda_short_data = download_stock_data("NVDA", "1mo", "2m")

[*********************100%***********************]  1 of 1 completed

In [10]:
nvda_short_data.head()

Price,Close,High,Low,Open,Volume
Ticker,NVDA,NVDA,NVDA,NVDA,NVDA
Datetime,,,,,
2024-12-09 14:30:00+00:00,138.779999,139.000000,137.429993,138.987503,23223279
2024-12-09 14:32:00+00:00,138.125504,138.970001,137.970398,138.740005,2778123
2024-12-09 14:34:00+00:00,138.649994,138.699997,137.910004,138.110001,2348206
2024-12-09 14:36:00+00:00,138.449997,138.789993,138.330002,138.660004,1967406
2024-12-09 14:38:00+00:00,138.679596,138.699997,138.059998,138.440002,1658076

In [11]:
nvda_short_data.shape

(4003, 5)

In [12]:
nvda_short_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4003 entries, 2024-12-09 14:30:00+00:00 to 2025-01-08 20:58:00+00:00
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   (Close, NVDA)   4003 non-null   float64
 1   (High, NVDA)    4003 non-null   float64
 2   (Low, NVDA)     4003 non-null   float64
 3   (Open, NVDA)    4003 non-null   float64
 4   (Volume, NVDA)  4003 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 187.6 KB

In [13]:
nvda_short_data.describe()

Price         Close         High          Low         Open        Volume
Ticker         NVDA         NVDA         NVDA         NVDA          NVDA
count   4003.000000  4003.000000  4003.000000  4003.000000  4.003000e+03
mean     137.575249   137.734973   137.414950   137.578982  9.498257e+05
std        4.760954     4.763318     4.764255     4.765333  1.273666e+06
min      127.019997   127.250000   126.860001   127.028503  3.010200e+04
25%      134.579803   134.745003   134.429993   134.589897  4.809075e+05
50%      137.345001   137.490005   137.130005   137.349304  6.763040e+05
75%      139.904503   140.000000   139.759995   139.899994  1.023222e+06
max      152.080002   153.130005   151.899994   153.048004  3.509331e+07