In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import sys
import os

# Get the directory of the current notebook
current_dir = os.path.dirname(os.path.abspath('../scripts')) 

# Add the 'scripts' directory to the Python path
scripts_dir = os.path.join(current_dir, 'scripts')
sys.path.append(scripts_dir)

In [3]:
from EDA import download_stock_data

In [4]:
jnj_long_data = download_stock_data("JNJ", "max", "1d")

[*********************100%***********************]  1 of 1 completed

In [5]:
jnj_long_data.head()

Price          Close      High       Low Open  Volume
Ticker           JNJ       JNJ       JNJ  JNJ     JNJ
Date
1962-01-02  0.062519  0.062519  0.062195  0.0       0
1962-01-03  0.061547  0.061871  0.061547  0.0  345600
1962-01-04  0.060899  0.061871  0.060899  0.0  216000
1962-01-05  0.059927  0.060413  0.059927  0.0  129600
1962-01-08  0.058956  0.059441  0.058956  0.0  172800

In [7]:
jnj_long_data.shape

(15863, 5)

In [9]:
jnj_long_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 15863 entries, 1962-01-02 to 2025-01-08
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   (Close, JNJ)   15863 non-null  float64
 1   (High, JNJ)    15863 non-null  float64
 2   (Low, JNJ)     15863 non-null  float64
 3   (Open, JNJ)    15863 non-null  float64
 4   (Volume, JNJ)  15863 non-null  int64
dtypes: float64(4), int64(1)
memory usage: 743.6 KB

In [10]:
jnj_long_data.describe()

Price          Close          High           Low          Open        Volume
Ticker           JNJ           JNJ           JNJ           JNJ           JNJ
count   15863.000000  15863.000000  15863.000000  15863.000000  1.586300e+04
mean       31.264872     31.489574     31.024594     31.245172  5.676945e+06
std        45.339358     45.652177     45.007940     45.347613  5.398294e+06
min         0.040191      0.041498      0.040191      0.000000  0.000000e+00
25%         0.610742      0.614821      0.605551      0.610747  1.764000e+06
50%         5.403673      5.451133      5.344294      5.404998  5.042500e+06
75%        39.433966     39.698862     39.110663     39.397787  7.839100e+06
max       171.606247    172.233598    169.917975    170.766747  1.513195e+08